/* Shahd Elwan */
:root {
  --primary-color: #4a2c2a;
  --secondary-color: #58150a;
  --tertiary-color: #ffffff;
  --quaternary-color: #f5f5f5;
  --quinary-color: #888888;
  --senary-color: #222222;

  --primary-font: "Bubblegum Sans", cursive;
  --secondary-font: "Covered By Your Grace", cursive;
  --tertiary-font: "Open Sans", sans-serif;
}

/* Selection color */
::selection {
  background-color: #f5e8c9; /* Beige color */
  color: var(--primary-color); /* Dark text for contrast */
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Slightly thinner */
}

::-webkit-scrollbar-track {
  background: var(--quaternary-color);
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 44, 42, 0.7); /* Lighter primary color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 21, 10, 0.7); /* Lighter secondary color */
}

